*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    padding: 5px;
}

.card_number{
    display: flex;

}

.card_info{
    display: flex;
    width: 100%;
}